{{#each timelines}}
<div class="sidebar">

  <div class="timestamp">
    <span class="tstamp">
    {{timestamp}}
    </span>

    <span class="pstamp">
    {{poststamp}}
    </span>
  </div>

  <div class="icon">
    <div class="iconitself">
      <span class="iconitsef"><i class="fa {{icon}}"></i></span>
    </div>
  </div>

</div>

<div class="post">

  <div class="title">
    <h1>{{title}}</h1>
  </div>

  <p class ="posttext">{{content}}</p>
  
</div>

  {{/each}}